{% extends "encyclopedia/layout.html" %}

{% block title %}
Create a Wiki Page
{% endblock %}

{% block body %}
    <h1>Create wiki</h1>
    <!-- form to create -->
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="mb-6">
            <label for="default-input" class="block mb-2 text-medium font-semibold text-gray-900 dark:text-white">Title</label>
           {% if not success %}
            <input name="title" value="{{ title }}" placeholder="Page title" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            {% else %}
            <input name="title" placeholder="Page title" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            {% endif %}
        </div>
        <label for="message" class="block mb-2 text-medium font-semibold text-gray-900 dark:text-white">Relevant information</label>
        <textarea name="content" id="message" rows="15"  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your Markdown content here." required></textarea>
        <button type="submit" class="mt-4 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Create</button>

    </form>

    {% if exists %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
      Swal.fire({
      title: "Oops...",
      text: "This title already exists.",
      icon: "error"
    });
    </script>
    {% endif %}
    
    {% if error %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
      Swal.fire({
      title: "Oops! Input Error",
      text: "There's an error in your input. Please review and ensure accuracy.",
      icon: "error"
    });
    </script>
    {% endif %}

{% endblock %}